{{{_header}}}
<table role="presentation" class="main">
    <tr>
        <td class="wrapper">
            <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td>
                        <p>Olá, <strong>{{userName}}</strong></p>
                        <p>
                            A oportunidade <strong>{{opportunityTitle}}</strong> foi criada com sucesso a partir do modelo.
                        </p>
                        <p>
                            <a href="{{opportunityUrl}}">Acesse a oportunidade para continuar a configuração.</a>
                        </p>
                        <p>Até mais!</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
{{{_footer}}}
